body {
    font-family: Outfit;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

p {
    font-weight: 400;
    line-height: 1.5;
    color: hsl(220, 15%, 55%);
}

h2 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p, h2 {
    width: 100%;
    text-align: center;
}

.box-qr {
    width: 320px;
    height: 497px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-style: solid;
    border-radius: 20px;
}

.qr-code-info {
    margin: 20px;
}

.box-qr img {
    max-width: 100%;
    border: 0px;
    border-style: solid;
    border-radius: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}